@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100;300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Commissioner', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #F9F9F9;
}
.hero-container{
    background-image: url('images/image-hero-desktop.jpg');
    height: 375px;
    width: 100%;
}
.navbar-menu{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 40px 155px;
    background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,0.5));
}
.hero-container .nama{
    color: #fff;
}
.hero-container .menu ul {
    display: flex;
}
.hero-container .menu ul li{
    margin-left: 20px;
    list-style: none;
    
}
.hero-container .navbar-menu .icon-humberger{
    display: none;
}
.hero-container .menu ul li a{
    list-style: none;
    color: #E6E6E6;
    text-decoration: none;
    font-size: 13px;
}
.body-wrap{
    margin: -80px 200px;
    /* background-color: red; */
    /* width: 700px; */
    height: 500px;
    position: relative;
    
}
.body-wrap .content{
    width: 100%;
    border: 1px solid rgba(0,0,0,0.1);
    background-color: #fff;
    border-radius: 10px;
}
.body-wrap .content .logo{
    position: relative;
    top: -30px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.body-wrap .content .judul{
    text-align: center;
    font-size: 1.65em;
}
.body-wrap .content p{
    text-align: center;
    color: rgba(0,0,0,0.5);
    margin-top: 15px;
    /* margin-bottom: 30px; */
}
.body-wrap .content .btn{
    display: flex;
    justify-content: space-between;
    padding: 40px;
}
.body-wrap .content .btn button{
    padding: 16px 40px;
    border-radius: 32px;
    color: #fff;
    background-color: darkcyan;
    outline: none;
    border: none;
    font-weight: 500;
}
.body-wrap .content .btn .bookmark{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.body-wrap .content .btn .bookmark h3{
    padding: 16px;
    color: darkgray;
    font-size: 0.9em;
}
.body-wrap .content .btn .bookmark .text.active{
    color: darkcyan;
}
.harga, .about{
    margin-top: 30px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 10px;
}
.harga .container .wrap {
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.harga .wrap .dolar, .total{
    border-right: 2px solid rgba(0,0,0,0.1);
    padding-right: 30px;
}
.harga .wrap p {
    color: rgba(0,0,0,0.5);
    margin-top: 5px;
}
.harga .bars{
    height: 10px;
    width: 100%;
    background-color: silver;
    margin-top: 30px;
    border-radius: 10px;
    position: relative;
    
}

.harga .bars::before{
    content: "";
    position: absolute;
    height: 10px;
    width: 60%;
    top: 0;
    left: 0;
    background: darkcyan;
    color: darkcyan;
    z-index: 99999;
    border-radius: 10px;
    transform-origin: left;
    transform: scaleX(0);
    animation: gerak .5s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes gerak {
    100%{
        transform: scaleX(1);
    }
}
.harga .container, .about .container{
    padding: 50px;
}

.about .container{
    background-color: #fff;
}
.about .container .about-project p{
    margin-top: 20px;
    color: rgba(0,0,0,0.5);
}
.about .container .box-card{
    margin-top: 30px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 20px;
}
.about .container .box-card .top, .button{
    display: flex;
    justify-content: space-between;
}
.about .container .box-card .top p{
    color: darkcyan;
    font-weight: 700;
}
.about .container .box-card .content-card{
    margin: 20px 0;
    color: rgba(0,0,0,0.5);
}
.about .container .box-card .button span{
    font-size: 1.6em;
    font-weight: 700;
    margin-right: 5px;
    color: #000;
}
.about .container .box-card .button .jumlah{
    display: flex;
    align-items: center;
    color: rgba(0,0,0,0.5);
}
.about .container .box-card .button .btn-card, .alert .container .card .box-card .button .btn-continue{
    border: none;
    padding: 15px 40px;
    background-color: darkcyan;
    border-radius: 32px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}
.about .container .box-card .button .sold{
    background-color: silver;
    cursor: default;
}
.about .container .box-card .soldout{
    opacity: 0.5;
}

.alert{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999999999;
    display: none;
    transition: all 1s ease;
}
.alert .container{
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    box-shadow: 10px 10px 100px rgba(0,0,0,0.5);
    border: 1px solid rgba(0,0,0,0.1);
}
.alert .container .card .box-card.active{
    border: 2px solid darkcyan;
}
.alert .container #close{
    font-size: 1.5em;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}
.alert .container .text{
    margin: 20px 0;
    color: rgba(0,0,0,0.5);
}
.alert .container .card .box-card{
    position: relative;
}
.alert .container .card .box-card .top{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.alert .container .card .box-card .top h4{
    flex: 1;
}
.alert .container .card .box-card .top p{
    margin: 0;
}
.alert .container .card .box-card .top{
    position: relative;
}
.alert .container .card .box-card .wrap-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-right: 20px;
}
.alert .container .card .box-card .circle{
    cursor: pointer;
    font-size: 1.5rem;
}
.alert .container .card .box-card .circle-bold{
    position: absolute;
    color: darkcyan;
    display: none;
    cursor: pointer;
    text-align: center;
}
.alert .container .card .box-card .circle-bold.active{
    display: inline-block;
}
.alert .container .card .box-card .button{
    display: none;
    border-top: 1px solid rgba(0,0,0,.1);
    margin-top: 20px;
    padding: 20px 0 20px 0;
}
.alert .container .card .box-card .content-card{
    margin-bottom: 0;
}
.alert .container .card .box-card .button.active{
    display: flex;
}
.alert .container .card .box-card .button .btn-continue, .second-alert .container #btn-done button{
    border: none;
    padding: 15px 40px;
    background-color: darkcyan;
    border-radius: 32px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}
.alert .container .card .box-card .button .input-usd{
    padding: 0 20px 0 30px;
    margin-right: 10px;
    border-radius: 32px;
    outline: none;
    width: 100px;
    border: 1px solid darkcyan;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    margin: 20px;
    position: relative;
}
.alert .container .card .box-card .button {
    position: relative;
}
.alert .container .card .box-card .button .jumlah{
    flex: 1;
}
.alert .container .card .box-card .button .icon-usd i{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 30px;
    top: 25px;
}
.alert .container .card .box-card .button .icon-usd{
    position: relative;
}
.second-alert{
    border: 1px solid rgba(0,0,0,0.1);
    position: absolute;
    margin: 0 80px;
    border-radius: 10px;
    top: 100px;
    z-index: 9999999999;
    display: none;
    box-shadow: 20px 20px 10000px rgba(0,0,0,0.5);
}
.second-alert .container{
    padding: 100px;
    text-align: center;
}
.second-alert .container h3, p{
    margin: 20px 0;
}
